<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="juashyam" translate="label" sortOrder="301">
            <label>Juashyam</label>
        </tab>
        <section id="authenticator" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Two Factor Authentication</label>
            <tab>quaerere</tab>
            <resource>Neyamtux_Authenticator::authenticator</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>After enabling the extension, kindly navigate to Admin User Account Page (System > Permissions > All Users) to scan bar code using Google Authenticator app.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
